body {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("img/wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 8px;
	padding: 3px 3px 7px 3px;
	box-sizing: border-box;
	border-radius: 20px;
	border: solid 1px rgba(255, 255, 255, 0.3);
}

.card {
	height: 50px;
	width: 50px;
	transition: 400ms;
}

.card img {
	width: 100%;
	height: 100%;
}

.card:hover {
	transform-origin: bottom;
	transform: scale(2.1);
	margin-left: 22px;
	margin-right: 22px;
	transition: 200ms;
	cursor: pointer;
}

.card:has(+ .card:hover),
.card:hover+.card {
	transform-origin: bottom;
	transform: scale(1.8);
	margin-left: 22px;
	margin-right: 22px;
	transition: 200ms;
}

.card:has(+ .card + .card:hover),
.card:hover+.card+.card {
	transform-origin: bottom;
	transform: scale(1.4);
	margin-left: 10px;
	margin-right: 10px;
	transition: 200ms;
}

.card:has(+ .card + .card + .card:hover),
.card:hover+.card+.card+.card {
	transform-origin: bottom;
	transform: scale(1.2);
	transition: 200ms;
}